@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    margin:0px;
    padding:0px;
    font-family: 'Quicksand', sans-serif;
}
body::-webkit-scrollbar{
    width:5px;
    border-radius:50px;
}
body::-webkit-scrollbar-thumb{
    background:#FBBF24;
}

/* home page styling */
.home_page_cat_image{
    width:500px;
    height:600px;
    object-fit:contain;

}

.searchInputs{
    border-right:1px solid #00000040;
    width:200px;
}

.workscard{
    box-shadow: -42px 20px 60px #bebebe69, -20px -20px 60px #ffffff;
}
.workscard img {
    padding-top: 19px;
}

.background_path_image{
    top: 44% !important;
    z-index: -1;
}

.card_image_1{
    left:-20px;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
}
.card_image_1 h1{
    font-size:150px;
}

.greenstariconImage{
    width:30px;
    height:30px;
}

.reviews_card{
    margin-top:50%;
    transform:translateY(-50%,-50%);
}

.yellow_star_image{
    width:15px;
}
.alaxas_image{
    width:100%;
    height:300px;
    object-fit:cover;
}
.sitters_card{
    /* width:250px; */
    height:410px;
    z-index:999;
}
.why_sitters_card{
    height:350px;
}
.card_info{
    height: 118px;
}
.near_you_section{
    background-image:url("../Images/halfcircle.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: right 0% bottom 45%;
}

.ads_Banner{
    background-image:url("../Images/adsbanner.png");
    background-size:contain;
    background-repeat:no-repeat;
}